apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          #image: stephengrider/auth
          image: daihuu/auth
          env:
            - name: MONGO_URI
              value: 'mongodb://auth-mongo-srv:27017/auth'
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY

            - name: OTEL_SERVICE_NAME
              value: 'auth'

            # --- CẤU HÌNH OTLP/HTTP (CHẮC CHẮN HOẠT ĐỘNG) ---
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: 'http/protobuf'  # OTLP qua HTTP (tốt cho Node.js)
            - name: OTEL_EXPORTER_OTLP_ENDPOINT # <-- Trỏ đến cổng 4318 NodePort
              #value: 'http://10.0.142.13:<OTLP_HTTP_NODEPORT>' 
              value: 'http://10.0.142.13:32225/v1/traces' 
            # Bỏ qua OTEL_TRACES_EXPORTER vì nó được suy ra từ OTLP_ENDPOINT
            - name: OTEL_LOG_LEVEL
              value: 'debug'
---
apiVersion: v1
kind: Service
metadata:
  name: auth-srv
spec:
  selector:
    app: auth
  ports:
    - name: auth
      protocol: TCP
      port: 3000
      targetPort: 3000
