apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: daihuu/client
          env:
            - name: JAEGER_COLLECTOR_URL
              # - name: JAEGER_COLLECTOR_URL
              # value: 'http://aba8653f524464a999ff641f5ad1d5cb-732850024.ap-northeast-1.elb.amazonaws.com:14268/api/traces'
              # value: 'http://10.0.130.135:31807/api/traces'
              valueFrom:
                configMapKeyRef:
                  name: jaeger-url
                  key: JAEGER_COLLECTOR_URL
---
apiVersion: v1
kind: Service
metadata:
  name: client-srv
spec:
  selector:
    app: client
  ports:
    - name: client
      protocol: TCP
      port: 3000
      targetPort: 3000
