apiVersion: apps/v1
kind: Deployment
metadata:
  name: tickets-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tickets
  template:
    metadata:
      labels:
        app: tickets
    spec:
      containers:
        - name: tickets
          image: daihuu/tickets
          env:
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NATS_URL
              value: 'http://nats-srv:4222'
            - name: NATS_CLUSTER_ID
              value: ticketing
            - name: MONGO_URI
              value: 'mongodb://tickets-mongo-srv:27017/tickets'
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY
            - name: JAEGER_COLLECTOR_URL
              # - name: JAEGER_COLLECTOR_URL
              # value: 'http://aba8653f524464a999ff641f5ad1d5cb-732850024.ap-northeast-1.elb.amazonaws.com:14268/api/traces'
              # value: 'http://10.0.130.135:31807/api/traces'
              valueFrom:
                configMapKeyRef:
                  name: jaeger-url
                  key: JAEGER_COLLECTOR_URL
---
apiVersion: v1
kind: Service
metadata:
  name: tickets-srv
spec:
  selector:
    app: tickets
  ports:
    - name: tickets
      protocol: TCP
      port: 3000
      targetPort: 3000
